In [2]:
import tbparse
import pandas as pd

In [11]:
from tbparse import SummaryReader
log_dir = r"../Datas/Solver"
reader = SummaryReader(log_dir)
df = reader.scalars
pd.unique(df["tag"])
df

          step                            tag     value
0         1000  Environment/Cumulative Reward -0.473697
1         2000  Environment/Cumulative Reward -0.549000
2         3000  Environment/Cumulative Reward  0.016320
3         4000  Environment/Cumulative Reward -0.134631
4         5000  Environment/Cumulative Reward  0.393585
...        ...                            ...       ...
15244  1136000                          theta -1.342899
15245  1137000                          theta -1.343007
15246  1138000                          theta -1.342773
15247  1139000                          theta -1.342299
15248  1140000                          theta -1.342733

[15249 rows x 3 columns]